extends layout
block content
  h1 猴子彼此之间是在抓虱子吗?
  p
    |首先，猴子较为注重卫生，身上一般没有虱子；其次，猴子的手臂很长——所有的猴子上肢都比下肢长——可以抓到身上的任何部位，而无需同类的帮助。 
    br
    |其次，猴子彼此之间用手指在对方身体上搜寻着的东西其实是盐粒：汗水蒸发后残留其上的，然后丢入口中，这样一来可以补充身体中的盐分； 
    br
    |此外还要一个作用；求偶，猴子凭借触摸异性的身体，让对方产生愉悦、兴奋，进而诱惑其与之交配，繁殖后代
  div(align="center")
    img(src='../images/scratch.jpeg', alt='monkey scratch')